<html>

	<head>
		<title>Creators</title>
		<link rel="stylesheet" type="text/css" href="app/static/creators.css"/>
	</head>

	<body>
		<div id= "description">
			This little project comes from a multi-disciplinary team of students at UC Berkeley.
		<div>

		<div id="names">
			<p> John Naulty: B.A Cognitive Science. </p>
			<p> Alejandro Castillejo: B.S. Industrial Engineering & Operations Research. </p>
			<p> Zach Fischmann: B.S. Interdisciplinary Science. </p>
			<p> Nick Rose: B.A. Computer Science. </p>
		</div>
	</body>

</html>